# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# temp
*~
.DS_Store
*.swp

# binary
raytracer

# pics
*.ppm

# pdfLaTeX
*.1
*.2
*.aux
*.bbl
*.blg
*.log
*.mp
*.out
*.toc
*.backup
raytracer_doc.pdf

